#smartCity div {
    overflow: auto;

}

#smartCity {
    border: none;
    margin: auto;
    width: auto;
    padding: unset;
    display: block;
    /*max-height: 59vh;*/
    height: 100%;
    min-width: 220px;
	overflow: auto;
}

.sidebarleftside {
    float: left;
	width: 10%;
    border: none;
	margin-right: -1px;
}

.sidebarleftside div {
	overflow: visible;
}

.sidebarrightside {
    display: flex;
    flex-direction: column;
    width: 89%;
	height: 500px;
    box-shadow: -2px 2px 2px grey;
	border-top:none;
}

.sidebarrightside div {
	border: none;
}

ul.sidebarmenu {
	float: right;
	margin: 5px 0px 0px 0px;
	list-style-type: none;
	writing-mode: vertical-lr;
	-ms-writing-mode: bt-lr;  /*IE*/
	transform: rotate(-180deg);
}

ul.sidebarmenu li {
	float: right;
}

ul.sidebarmenu li a {
	display: inline-block;
	background-color: #ffffff;
	color: black;
	text-align: center;
	text-decoration: none;
	transition: 0.5s;
	font: 0.71em arial, sans-serif;
	font-weight: bold;
    padding: 12px 8px;
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 2px -2px 2px gray;
}

ul.sidebarmenu li a.active {
	background-color: #82c0d7;
	color: white;
}

ul.sidebarmenu li a:hover:not(.active) {
	background-color: #e1e0e0;
	color: black;
}


/* Style the tab content */
.tabcontent {
    display: block;
    margin-left: 8%;
    margin-bottom: 8%;
	width: 92%;
}

.facetoptions {
    display: block;
    padding-top: 6px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    height: auto;
    width: auto;
}

.header3 {
    border-radius: 15px;
    font: 13px tahoma;
    padding: 3px;
    text-align: center;
    background-color: #e1e0e0;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
}

.buttondiv {
    display: inline-block;
    margin: auto 0;
    text-align: center;
    border: none;
}

.buttonfacets, .buttonresults {
	background-color: #ddd;
	font-family: Arial;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 10px;
    border: 10px;
    outline: 0; /*disable focus on-click*/
    transition: all 0.5s;
	width: 150px;
}

.buttonresults {
	width: 100px;
	margin-right: -17px;
}


.buttonfacets span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.buttonfacets span:after {
	content: '\f139';
	transform: none;
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
	position: absolute;
	opacity: 0.0;
	top: 0;
	right: 1px;
	transition: 0.5s;
	display: inline-block;
}

.buttonfacets span.active:after {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}


.buttonfacets:hover span {
	padding-right: 20px;
}

.buttonfacets:hover span:after {
	opacity: 1;
	right: 0;
}

.buttonresults span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.buttonresults span:after {
	content: '\f139';
	transform: none;
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
	position: absolute;
	opacity: 0.0;
	top: 0;
	right: -1px;
	transition: 0.5s;
	display: inline-block;
}

.buttonresults:hover span {
	padding-right: 25px;
}

.buttonresults:hover span:after {
	opacity: 1;
	right: 0;
}

.buttonresults span.active:after {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.searchbutton {
    font-family: Arial;
    font-size: 12px;
    margin-bottom: 8px;
}

.singlefacet {
    font: 11px tahoma;
    margin-top: 2%;
    margin-left: 4%;
	width: 96%;
}

div#facetsdivision {
	overflow: visible;
    border-bottom: 1px solid black;
}


.ui-table div {
    height:auto;
}

.transition {
    transition: 0.5s;
}

table, th, td {
    font: 10px tahoma;
    border: 1px solid black;
}

.facetscontent {
    font: 10px tahoma;
    margin: auto;
    width: 80%; /*to align content*/
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #82c0d7;
}

#smartCity .ui-slider {
	overflow: visible;
    width: 82%;
    left: 5px;
}

.ui-slider-horizontal {
    height: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
	height: 16px;
	width: 10px;
	margin-left: -6px;
	cursor: default;
	position: absolute;
	top: 1px;
	z-index: 2;
}

.ui-widget-content {
	overflow: visible;
}

.resultsdivision {
    /*height: 100%;*/
}

div#resultsTable {
    overflow: auto;
}
