div {
    border: 1px solid black;
    width: 100%;
    overflow: hidden;
}

.styleborder {
    border: 0px solid black;
    /*height: 100%;*/
}

.header {
    clear: both;
    width: 100%;
}

.left {
    float: left;
    width: 30%;
    /*height: 100%; /* 100% Full-height */
    /*width: 200px; /* 0 width - change this with JavaScript */
    /* position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    background-color: #ffffff;
    overflow: hidden; /* Disable horizontal scroll */
}

.right {
    float: right;
    width: 68%;
}

.footer {
    clear: both;
    width: 100%;
}

.header2 {
    clear: both;
    width: 100%;
    min-height: 50px;
    max-height: 200px;
}

.left2 {
    float: left;
    max-width: 150px;
    max-height: 400px;
}

.right2 {
    float: right;
    max-width: 400px;
    max-height: 150px;
}

.left3 {
    float: left;
    max-width: 45%;
}

.left4 {
    border: none;
    float: left;
    max-width: 70%;
    overflow: hidden;
}

.right3 {
    float: right;
    max-width: 52%;
}

.right4 {
    border: none;
    float: right;
    max-width: 20%;
    overflow: hidden;
}

.sidebarnav {
    padding: 0px 0px 0px 20px;
    text-decoration: none;
    color: black;
    display: block;
    font: 10px;
    /*transition: 2s;*/
}
    /* Mudar cor on hover */
    .sidebarnav:hover, offcanvas .sidebarnav:focus {
        color: #808080;
    }

.sidebarleftside {
    float: left;
    width: 25%;
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
}

.sidebarrightside {
    border: none;
    float: right;
    width: 70%;
    /*border: none;*/
    overflow: inherit;
}

.sidebarmenu {
    margin: 0;
    padding: 0;
}

.sidebarmenulink {
    /*transition: all 0.4s ease;*/
}
    /* No bottom border no ultimo filho*/
    .sidebarmenulink:last-child {
        /*border-bottom: none;*/
    }

    .sidebarmenulink a {
        /*text-decoration: none;
        text-align: center;
        background-color: #ffffff;
        border-bottom: 1px solid black;
        border-top: none;
        border-left: none;
        border-right: none;
        padding: 2px 2px 2px 2px;
        margin: 0px 0px 0px 0px;
        width: auto;
        height: auto;
        display: inline-block;
        cursor: pointer;
        font: 12px tahoma;
        color: black;
        transform: rotate(270deg) translate(0px,0px);*/

        background-color: #ffffff;
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font: 12px arial, sans-serif;
        writing-mode: vertical-lr;
        -ms-writing-mode:bt-lr;
        -ms-transform: rotate(-180deg); /* IE 9 */
        -moz-transform:rotate(270deg); /* Firefox */
        -webkit-transform:rotate(-180deg); /* Safari and Chrome */
        -o-transform:rotate(-180deg); /* Opera */
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-radius: 3px;
    }

        .sidebarmenulink a:hover {
            transition: all 1s ease;
            background: #68b8fb;
        }

        /* Create an active/current tablink class */
        .sidebarmenulink a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.header3 {
    border-radius: 15px;
    font: 13px tahoma;
    padding: 3px;
    text-align: center;
    background-color: #e1e0e0;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
}

.buttonfacets {
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
    cursor: pointer;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
    border-radius: 10px;
    border: none;
    outline: 0; /*disable focus on-click*/
    text-align: center;
    transition: all 0.5s;
}

    .buttonfacets span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .buttonfacets span:after {
            content: ' ▼';
            position: absolute;
            opacity: 0.5;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .buttonfacets:hover span {
        padding-right: 20px;
    }

        .buttonfacets:hover span:after {
            opacity: 1;
            right: 0;
        }

.facetsdivision {
    border: none;
    font: 12px tahoma;
    padding: 7px;
}

.transition {
    transition: 0.5s;
}
/*Focado no link completo*/
/*/.sidebarmenulink:hover, offcanvas .sidebarmenulink:focus {
    background: #fe5757;
}*/
/* .sidebarmenulink:active {
                    background-color: #ff0000;
                    color: #ff0000;
                }

                .sidebarmenulink a:hover:not(.active) {
                    background-color: #ff0000;
                    color: white;
                }*/
table, th, td {
   border: 1px solid black;
}
