div {
    border: 1px solid black;
    width: 100%;
    overflow: auto;
}

.header {
    clear: both;
    width: 100%;
}

.left {
    float: left;
    width: 22%;
    z-index: 1; /* Stay on top */
    background-color: #ffffff;
    overflow-y: visible; /* Disable horizontal scroll */
}

.right {
    float: right;
    width: 68%;
}

.footer {
    clear: both;
    width: 100%;
}

.header2 {
    clear: both;
    width: 100%;
    min-height: 50px;
    max-height: 200px;
}

.left2 {
    float: left;
    max-width: 300px;
    max-height: 400px;
}

.right2 {
    float: right;
    max-width: 300px;
    max-height: 300px;
}

.left3 {
    float: left;
    max-width: 45%;
}

.right3 {
    float: right;
    max-width: 52%;
}

.left4 {
    border: none;
    float: left;
    max-width: 70%;
    overflow: hidden;
}

.right4 {
    border: none;
    float: right;
    max-width: 20%;
    overflow: hidden;
}

.sidebarleftside {
    float: left;
    width: 12%;
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
}

.sidebarrightside {
    border: none;
    float: right;
    width: 86%;
    overflow: hidden;
}

.sidebarmenu {
    margin: 0;
    padding: 0;
}

.sidebarmenulink {
    float: left;
    display: block;
}

    .sidebarmenulink a {
        background-color: #ffffff;
        display: inline-block;
        color: black;
        text-align: center;
        text-decoration: none;
        transition: 0.5s;
        font: 12px arial, sans-serif;
        writing-mode: vertical-lr;
        -ms-writing-mode: bt-lr; /* IE */
        transform: rotate(-180deg);
        padding: 20px 8px;
        margin-left: 3px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        outline: 0; /*disable focus on-click*/
    }

        .sidebarmenulink a.active {
            background-color: #82c0d7;
            color: white;
        }

        .sidebarmenulink a:hover:not(.active) {
            background-color: #e1e0e0;
            color: black;
        }


/* Style the tab content */
.tabcontent {
    display: block;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}

.facetoptions {
    display: block;
    padding-top: 6px;
    padding-left: 12px;
}

.header3 {
    border-radius: 15px;
    font: 13px tahoma;
    padding: 3px;
    text-align: center;
    background-color: #e1e0e0;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
}

.buttonfacets, .buttonresults {
    cursor: pointer;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
    border-radius: 10px;
    border: none;
    outline: 0; /*disable focus on-click*/
    text-align: center;
    transition: all 0.5s;
    outline: 0;
}

    .buttonfacets span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .buttonfacets span:after {
            content: ' ▼';
            position: absolute;
            opacity: 0.5;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .buttonfacets:hover span {
        padding-right: 20px;
    }

        .buttonfacets:hover span:after {
            opacity: 1;
            right: 0;
        }

    .buttonresults span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .buttonresults span:after {
            content: ' 👁';
            position: absolute;
            opacity: 1;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .buttonresults:hover span {
        padding-right: 25px;
    }

        .buttonresults:hover span:after {
            opacity: 1;
            right: 0;
        }


.facetsdivision {
    border: none;
    font: 12px tahoma;
    padding: 7px;
    overflow: hidden;
}

.transition {
    transition: 0.5s;
}

table, th, td {
    font: 10px tahoma;
    border: 1px solid black;
}

.facetscontent {
    font: 10px tahoma;
    border: none;
    margin: auto;
    width: 80%; /*to align content*/
}

    .facetscontent div {
        font: inherit;
        border: inherit;
        margin: inherit;
        width: inherit;
    }

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #82c0d7;
}
