@{
    ViewBag.Title = "Lugares";
}

<div class="jumbotron">
    <h1>Lugares</h1>
    <p class="lead">Lugares is an MVC application used to perform CRUD of POI (Points of interest) on another component which we call Datum.</p>
    <p><a href="https://moodle.isep.ipp.pt/course/view.php?id=4234" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>