

@{
    ViewBag.Title = "Search By Date Time";
}

<h2>Make a search by DateTime</h2>

 <form action="ResultsByDateTime">
    Search by DateTime:<br>
    <input type="datetime" name="datetime" value="2016-11-12"><br>
    <input type="submit" value="Submit">
</form>



