@{
    ViewBag.Title = "Search By Time Period";
}

<h2>Make a search by Time Period</h2>



    <form action="ResultsByPeriod">
        <label>From</label>
        <input type="datetime" name="date1" ><br>
        <label>To</label>
        <input type="datetime" name="date2" ><br>
        <input type="submit" value="Search">
    </form>

